*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.section-header{
    height: 300px;
    padding: 55px 0;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to top right, #F6389A, #5D5CFB);
    justify-content: space-between;
    align-items: center;
}

.section-header-title{
    margin: 0;
    font-weight: 800;
    font-size: 22px;
    letter-spacing: -0.05em;
}

.section-header-input{
    width: 130px;
    height: 40px;
    font-family: inherit;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 3px;
}

.section-header-btn{
    font-family: inherit;
    font-size: 15px;
    font-weight: 600;
    padding: 0.5em 1em;
    color: #fff;
    background-color: #009383;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

.section-units{
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.unit{
    margin-bottom: 2em;
}

.unit-title{
    margin-top: 0;
    font-weight: 600;
    font-size: 14px;
}

.unit-conversion{
    margin: 0;
    font-weight: 400;
    font-size: 14px;
}